Howdy earth dwellers<br /><br />
<a (click)="sendUpdate()" href="#">Update Product</a>
<ul>
  <li *ngFor="let p of productService.products">
    <strong>Product: </strong> {{ p.serialNumber }} -
    <strong>location: </strong> {{ p.location }} - <strong>status: </strong>
    {{ statusAsText(p.status) }}
  </li>
</ul>
